{% extends "layout.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/reportes.js') }}"></script>
{% endblock %}


{% block content %}

<!-- Page Content -->
<div id="page-content-wrapper" class="w3-main" style="margin-left:340px;margin-right:40px;">
    <div class="container-fluid">

        <div class="row">
      
            <div class="col-md-6">

                <div class="row">

                    <div class="col-md-9">

                        <div class="w3-container" style="margin-top:80px" id="showcase">
                            <h1 class="w3-jumbo"><b>Distribuidor GJG</b></h1>
                            <h1 class="w3-xxxlarge w3-text-red"><b>Reportes.</b></h1>
                            <hr style="width:50px;border:5px solid red" class="w3-round">
                                                         
                        </div>

                    </div>

                    <div class="col-md-3">

                        <img style="margin-top:80px" width="180" height="180" src="{{ url_for('static', filename='imagenes/logo.png') }}"">

                    </div>

                </div>                     

            </div>

            <div class="col-md-6"></div>
                    
        </div>

        </br>
        <div class="row">

            <div class="col-md-9 text-center">
                {% if error is defined %}
                <p style="color:red;">{{error}}</p>
                {% endif %}
               
                <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a> -->
                
                <div class="row">
                    
                    <div class="col-md-6 text-center">
                        <label for="tipo">Tipo de Solicitud:</label>
                        <select class="form-control" id="tipo" name="tipo">
                            <option> Solicitudes Despachadas </option>
                            <option> Solicitudes Pendientes </option>
                            <option> Clientes </option>
                            <option> Destinos </option>
                            <option> Facturas Canceladas </option>
                            <option> Facturas Vigentes  </option>
                            <option> Facturas Vencidas  </option>
                        </select></br>
                    </div>    

                    <div class="col-md-6 text-center">
                    <div id="rango_fechas">
                        <label for="select_fecha">Rango de fechas:</label>
                            <select class="form-control" id="select_fecha">
                                <option> Intervalo de Tiempo </option>
                                <option> Día </option>
                                <option> Mes </option>
                                <option> Año </option>
                            </select>
                        </div>
                    </div> 
                    
                </div>

                </br>

                <div class="row">
                    <!-- Calendarios -->
                    <div class="col-md-6 text-center">

                        <div id="date1">
                            <label for="datetimepicker6">Fecha Inicial:</label>
                            <div class='input-group date' id='datetimepicker6'>
                                <input id="fecha1" placeholder="Fecha Inicial" type='text' class="form-control" />
                                <span id="span1" class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div id="date3">
                            <div class=class="col-md-6 text-center">
                                <label for="datetimepicker6">Mes Inicial:</label>
                                <div class='input-group date' id='datetimepicker3'>
                                    <input id="fecha3" type='text' placeholder="Fecha Inicial" class="form-control" />
                                    <span id="span3" class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div id="date4">
                            <div class=class="col-md-6 text-center">
                                <label for="datetimepicker6">Año Inicial:</label>
                                <div class='input-group date' id='datetimepicker4'>
                                    <input id="fecha4" type='text' placeholder="Fecha Inicial"  class="form-control" />
                                    <span id="span4" class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="date2">
                        <div class="col-md-6 text-center">
                            <label for="datetimepicker7">Fecha Final:</label>
                            <div class='input-group date' id='datetimepicker7'>
                                <input id="fecha2" type='text' placeholder="Fecha Final" class="form-control" />
                                <span id="span2" class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </div>

                </br>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <input type="button" class="btn btn-primary" value="Generar" id="boton_generar_aux">
                    </div>
                    <div class="col-md-6 text-right">
                        <input type="button" class="btn btn-primary" value="Generar" id="boton_generar">
                    </div>
                </div>

                <form action="pdf_generate" id="formulario_real" method="POST" style="display:none;">
                    <input id="solicitud_real" type="text" name="solicitud">
                    <input id="desde_real" type="text" name="desde">
                    <input id="hasta_real" type="text" name="hasta">
                    <input id="tipo_fecha" type="text" name="tipo_fecha">
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->


<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({
            // format: "DD/MM/YYYY"
        });
        $('#datetimepicker7').datetimepicker({
            useCurrent: false, 
            // format: "DD/MM/YYYY"
        });
        $('#datetimepicker3').datetimepicker({
            useCurrent: false, 
            format: "YYYY/MM"
        });
        $('#datetimepicker4').datetimepicker({
            useCurrent: false, 
            format: "YYYY"
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });

        $('#fecha3').hide();
        $('#span3').hide();
        $('#date3').hide();

        $('#fecha4').hide();
        $('#span4').hide();
        $('#date4').hide();

        $('#boton_generar_aux').hide();

    });
</script>


{% endblock %}